$char--size: 10vw;
$char--caret-size: 2vw;
$characters: vogel worm bever tak bloem;

@include keyframes(bloem) {
  0%, 100% { @include transform(rotate(5deg)) }
  50% { @include transform(rotate(-5deg)) }
}

@include keyframes(charCaret) {
  0%, 100%  { @include transform(translateY(-50%) translateX(-50%)) }
  50%       { @include transform(translateY(0%)   translateX(-50%)) }
}

@include keyframes(vogel) {
  from {
    @include transform(translate(110vh, -30vh));
  }
  to {
    @include transform(translate(40vh, 0vh));
  }
}

@each $animal in $characters {
  .char.#{$animal} {
    background: center/contain url(/images/characters/#{$animal}.png) no-repeat;
    @include size($char--size);
    position: absolute;
    #main-menu &:after {
      z-index: 10;
      content: '';
      position: absolute;
      top: -$char--caret-size * 1.5;
      @include transform(translateX(-50%));
      @include animation(charCaret 2s ease-in-out infinite);
      width: 0; 
      height: 0;
      border-left: $char--caret-size solid transparent;
      border-right: $char--caret-size solid transparent;   
      border-top: $char--caret-size*1.3 solid #FC620C;
    }
  }
}

.char.vogel {
  top: 25%;
  right: 40%;
  z-index: 14;
  @include size($char--size*2);
  &:after {
    display: none;
  }
  &.vogel {
    @include animation(vogel $main-menu--anim ease-out forwards);
  }
}

.char.bloem {
  top: 80%;
  right: 2%;
  z-index: 11;
  @include size($char--size*2);
  #main-menu & {
    @include animation(background1 $main-menu--anim ease-out forwards);
  }
  &:before {
    content: '';
    background: center/contain url(/images/characters/bloem-hoofd.png) no-repeat;
    @include size($char--size*2);
    position: absolute;
    @include animation(bloem 3s ease-in-out infinite);
  }
  #main-menu &:after {
    left: 51%;
  }
}

.char.worm {
  top: 94%;
  left: 7%;
  z-index: 11;
  @include size($char--size*1.5);
  background-position-y: top;
  #main-menu &  {
    @include animation(background1 $main-menu--anim ease-out forwards);
  }
  #main-menu &:after {
    left: 27%;
  }
}

.char.tak {
  top: 67%;
  left: 15%;
  @include size($char--size*0.8);
  #main-menu & {
    @include animation(background2 $main-menu--anim*1.3 ease-out forwards);
  }
  &:after {
    content: '';
    @include size(35vw);
    background-position-x: left;
    position: fixed;
    left: 0; top: 6%;
  }
  #main-menu &  {z-index: 9;}
  #main-menu &:after {
    left: 52%;
  }
}

.char.bever {
  top: 50%;
  right: 2%;
  @include size($char--size*0.9);
  #main-menu & {
    @include animation(background3 $main-menu--anim*1.6 ease-out forwards);
  }
  #main-menu &  {z-index: 8;}
  #main-menu &:after {
    left: 38%;
  }
}









