$char--size: 10vw;
$characters: vogel worm bever tak bloem;

@each $animal in $characters {
  .char.#{$animal} {
    background: center/contain url(/images/characters/#{$animal}.png) no-repeat;
    @include size($char--size);
    position: absolute;
    z-index: 20;
  }
}

.char.vogel {
  top: 25%;
  right: 20%;
  @include size($char--size*2);
}

.char.bloem {
  top: 65%;
  right: 1%;
  @include size($char--size*2);
}

.char.worm {
  top: 60%;
  left: 5%;
  @include size($char--size*1.5);
  &:after {
    content: '';
    background: center/contain url(/images/characters/kleine-steen.png) no-repeat;
    @include size(7vw);
    position: absolute;
    @include transform(translateX(80%) translateY(140%));
  }
}

.char.boom {
  top: 7%;
  left: 18%;
  &:after {
    content: '';
//     @include char-url(boom-bos);
    @include size(35vw);
    background-position-x: left;
    position: fixed;
    left: 0; top: 6%;
  }
}

.char.bever {
  top: 2%;
  right: 1%;
}