$keuze--width: 60%;

.keuze-wrap {
  @extend %ohLordCenterMyChildren;
  @include user-select(none);
  .char.bever {
    left: 0;
  }
}

.keuze {
  background: $orange;
  color: #fff;
  border-radius: 50px;
  width: $keuze--width;
  left: calc((100% - #{$keuze--width})/2);
  @include box-sizing(border-box);
  padding: 2rem;
  font-size: 1rem;
  @include mobile {
    width: 80%;
    padding: 1.5rem;
  }
  h3 {
    font-size: 2rem;
    @include mobile {
      font-size: 1.3rem;
    }
  }
  > * {
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0; padding: 0;
    li {
      margin: 1em 0;
      padding: 1em;
      background: #fff;
      color: $orange;
      border-radius: $border-radius--g;
      cursor: pointer;
      @include user-select(none);
      @include mobile {
        padding: 0.5em 0;
      }
      li:ng-href {
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}