$keuze--width: 60%;
$keuze--flip-length: 0.7s;
$keuze--check-size: 30px;

@include keyframes(image-flip) {
  100% {
    @include transform(scale(2.8) rotateY(-180deg));
  }
}

@include keyframes(slide-in) {
  from {
    @include transform(translateY(100%));
  }
}

@include keyframes(check-slide) {
  from {
    @include transform(translateX(-50%) translateY(-100%) scale(0.7));
  }
  to {
    @include transform(translateX(-50%) translateY(-50%) scale(1));
  }
}

.keuze-wrap {
  @extend %ohLordCenterMyChildren;
  .char.bever {
    left: 0;
  }
}

.keuze {
  background: $orange;
  color: #fff;
  border-radius: 50px;
  width: $keuze--width;
  left: calc((100% - #{$keuze--width})/2);
  @include box-sizing(border-box);
  padding: 2rem;
  font-size: 1rem;
  @include mobile {
    width: 80%;
    padding: 1.5rem;
  }
  h3 {
    font-size: 2rem;
    @include mobile {
      font-size: 1.3rem;
    }
  }
  > * {
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0; padding: 0;
    li {
      margin: 1em 0;
      padding: 1em;
      background: #fff;
      color: $orange;
      border-radius: $border-radius--g;
      cursor: pointer;
      @include mobile {
        padding: 0.5em 0;
      }
    }
  }
}

.keuze.full {
  position: fixed;
  border-radius: 0;
  height: 100vh;
  left: 40%;
  @include mobile {
    left: 0;
    width: 100%;
  }
}

.keuze.image {
  button {
    width: 95%;
    margin-top: 3%;
  }
  p.hulp {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.2em;
  }
}

.keuze.image {
  li {
    float: left;
    margin: 1%;
    @include size(30% 30vh);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    span {
      opacity: 0;
      background: #fff;
      position: absolute;
      left: 0; bottom: 0;
      width: 100%;
      border-radius: $border-radius--g; 
      h1 {
        font-size: 1rem;
        padding: 0.1em;
      }
      p {
        font-size: 0.5rem;
        width: 80%;
        margin: 1rem auto;
      }
    }
    &.check {
      &:before {
        content: '';
        background: rgba(255,255,255,0.6);
        top: 0; left: 0;
        @include size(100%);
        position: absolute;
      }
      &:after {
        content: '✓';
        background: $green;
        @include size(80px);
        font-size: 3rem;
        line-height: 2em;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        @include animation(check-slide 0.2s ease-in-out);
        color: white;
        position: absolute;
        border-radius: 180px;
      }
    }
    &.info {
      @include animation(image-flip $keuze--flip-length forwards);
      z-index: 99;
      span {
        opacity: 1;
        @include animation(slide-in $keuze--flip-length forwards);
      }
      position: absolute;
      left: 32%;
      top: 40%;
      span > * {
        opacity: 1;
        @include transition($keuze--flip-length);
        @include transform(rotateY(-180deg));
      }
    }
  }
}