$keuze--width: 60%;

@include keyframes(image-flip) {
  100% {
    @include transform(scale(2) rotateY(-180deg));
  }
}

.keuze-wrap {
  @extend %ohLordCenterMyChildren;
  @include user-select(none);
  .char.bever {
    left: 0;
  }
}

.keuze {
  background: $orange;
  color: #fff;
  border-radius: 50px;
  width: $keuze--width;
  left: calc((100% - #{$keuze--width})/2);
  @include box-sizing(border-box);
  padding: 2rem;
  font-size: 1rem;
  @include mobile {
    width: 80%;
    padding: 1.5rem;
  }
  h3 {
    font-size: 2rem;
    @include mobile {
      font-size: 1.3rem;
    }
  }
  > * {
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0; padding: 0;
    li {
      margin: 1em 0;
      padding: 1em;
      background: #fff;
      color: $orange;
      border-radius: $border-radius--g;
      cursor: pointer;
      @include user-select(none);
      @include mobile {
        padding: 0.5em 0;
      }
    }
  }
}

.keuze.full {
  position: fixed;
  border-radius: 0;
  height: 100vh;
  left: 40%;
  @include mobile {
    left: 0;
    width: 100%;
  }
}

.keuze.image {
  li {
    float: left;
    margin: 1%;
    @include size(30% 30vh);
    background-size: cover;
    background-position: center;
    &.animation {
      @include animation(image-flip 1s forwards);
    }
  }
}