section#main-menu #grass {
  position: absolute;
  height: 50vh;
  bottom: 0;
}

section#main-menu .grass {
  img {
    width: 100%;
  }
  &.foreground {
    z-index: 10;
    position: relative;
  }
  &.background {
    position: absolute;
    z-index: 5;
    top: -32px;
  }
}

$nav--size: 10vw;

@mixin nav-url($nav) {
  background: center/contain url(/images/#{$nav}.png) no-repeat;
}

.nav.home {
  @include nav-url(home-button);
  position: absolute;
  top: 2%;
  left: 2%;
  @include size($nav--size*1);
}