$main-menu--anim: 1s;

@include tablet {
  @include keyframes(background1) {
    from {
      @include transform(translateY(30vh));
    }
    to {
      @include transform(translateY(-5vh));
    }
  }

  @include keyframes(background2) {
    from {
      @include transform(translateY(50vh));
    }
    to {
      @include transform(translateY(calc(-32vh)));
    }
  }

  @include keyframes(background3) {
    from {
      @include transform(translateY(60vh));
    }
    to {
      @include transform(translateY(-32vh));
    }
  }
}

// @include keyframes(background1) {
//   from {
//     @include transform(translateY(30vh));
//   }
//   to {
//     @include transform(translateY(-50vh));
//   }
// }

// @include keyframes(background2) {
//   from {
//     @include transform(translateY(50vh));
//   }
//   to {
//     @include transform(translateY(calc(-46vh + 30px)));
//   }
// }

// @include keyframes(background3) {
//   from {
//     @include transform(translateY(60vh));
//   }
//   to {
//     @include transform(translateY(-35vh));
//   }
// }

@include keyframes(vogel) {
  from {
    @include transform(translate(110vh, -30vh));
  }
  to {
    @include transform(translate(30vh, 6vh));
  }
}

@include keyframes(vogel-weg) {
  from {
    @include transform(translate(30vh, 6vh));
  }
  to {
    @include transform(translate(-50vh, -70vh));
  }
}

section#main-menu #grass {
  position: relative;
  height: 50vh;
  top: 50vh;
}

section#main-menu .grass {
  position: absolute;
  width: 100%;
  img {
    width: 100%;
  }
  &.background1 {
    z-index: 10;
    @include animation(background1 $main-menu--anim ease-out forwards);
  }
  &.background2 {
    z-index: 9;
    @include animation(background2 $main-menu--anim*1.3 ease-out forwards);
    width: 50%;
  }
  &.background3 {
    z-index: 8;
    position: relative;
    @include animation(background3 $main-menu--anim*1.6 ease-out forwards);
  }
}

$nav--size: 10vw;

@mixin nav-url($nav) {
  background: center/contain url(/images/#{$nav}.png) no-repeat;
}

.nav.home {
  @include nav-url(home-button);
  position: absolute;
  z-index: 999;
  top: 2%;
  left: 2%;
  z-index: 10;
  @include size($nav--size*1);
}

#vogel {
  position: absolute;
}