$quest-worm--worm-size: $char--size*3.5;

section#worm { 
	background: center/cover url('/images/achtergrond-worm.png') no-repeat;
	.char.worm {
		top: calc(100% - #{$quest-worm--worm-size * 0.9});
		left: 5%;
		@include size($quest-worm--worm-size);
	}
	.char.worm:after {
		display: none;
	}
}

section#worm .tekstballon {
  @include tekstballon(left);
		left: $quest-worm--worm-size*.7;
		bottom: $quest-worm--worm-size/2;
}