$tekstballon--caret-size:40px;

@include keyframes(tekstballon) {
	0% {
		@include transform(scale(0.98));
	}
	50% {
		@include transform(scale(1.01));
	}
	100% {
		@include transform(scale(1));
	}
}

@mixin tekstballon($position) {
	background: #fff;
	color: #000;
	border: 3px solid #000;
	border-radius: 100px;	
	padding: 2em;
	text-align: center;
	position: absolute;
	font-size: 1.2rem;
	z-index: 100;
	min-height: $tekstballon--caret-size*4;
	width: 70%;
	cursor: pointer;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include user-select(none);
	@include animation(tekstballon 1s ease-in-out);
	@include box-sizing(border-box);
	@if $position == left {
		left: 20%;
	}
	&:before, &:after {
		@include transform(rotate(90deg));
		@if $position == left {
			top: 50%;
			@include transform(translateY(-50%) rotate(90deg));
		}
		z-index: 10;
		content: '';
		position: absolute;
		bottom: 0;
		left: -$tekstballon--caret-size * 1.2;
		width: 0; 
		height: 0;
		border-left: $tekstballon--caret-size solid transparent;
		border-right: $tekstballon--caret-size solid transparent;		
		border-top: $tekstballon--caret-size solid #fff;
	}
	&:after {
		border-left: $tekstballon--caret-size solid transparent;
		border-right: $tekstballon--caret-size solid transparent;
		border-top: $tekstballon--caret-size solid #000;
		left: -$tekstballon--caret-size * 1.3;
		z-index: 5;
	}
}

.tekstballon {
	@include tekstballon(left);
}