<section id="main-menu" class="view">
  <div id="grass">
    <div class="grass background1">
      <img src="/images/achtergrond-main-background1.png" />
    </div>
    <div class="grass background2">
      <img src="/images/achtergrond-main-background2.png" />
    </div>
    <div class="grass background3">
      <img src="/images/achtergrond-main-background3.png" />
    </div>
  </div>
  <div class="char vogel"></div>
  <a ng-href="#/quest-worm"><div class="char worm"></div></a>
  <a ng-href="#/quest-tak"><div class="char tak"></div></a>
  <a ng-href="#/quest-bever"><div class="char bever"></div></a>
</section>