<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Welke beestjes hebben jullie gevonden?</h3>
    <ul>
      <li ng-click="check()"
          on-long-press="info()"
          ng-class="class"
          ng-repeat="i in kleinebeestjes"
          style="background-image: url(/images/opdrachten/bever/kleinebeestjes/{{i.name}}.jpg)">
        <span>
          <h1>{{i.name | capitalize}}</h1>
          <p>{{i.fact}}</p>
        </span>
      </li>
    </ul>
    <button ng-show="checkDone" ng-click="opdrachtDone = true">Verder</button>
    <p class="hulp" ng-hide="checkDone">Tip: Houd je vinger lang ingedrukt op een plaatje voor een leuk weetje</p>
</div>

<div class="tekstballon bever" ng-show="opdrachtDone" ng-click="opdrachtAf()">
  <span>Leuk dat jullie mij geholpen hebben kleine beestjes te vinden. Willen jullie mij helpen met nog een opdracht?</span>
</div>