<div class="tekstballon bloem" ng-click="click()" ng-show="!clickDone">
  <span>{{messages[2][1][clicked]}}</span>
</div>

<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Van welk dier denk je dat de poep is die je hebt gevonden?</h3>
    <ul>
      <li ng-click="check()"
          ng-class="class"
          ng-repeat="i in poepinspecteren"
          style="background-image: url(/images/opdrachten/bloem/poepinspecteren/{{i.name}}.jpg)">
        <p>{{i.name | capitalize}}</p>
      </li>
    </ul>
    <button ng-click="opdrachtDone = true">Verder</button>
</div>

<div class="tekstballon bloem" ng-show="opdrachtDone" ui-sref="home">
  <span>Goed dat jullie mij geholpen hebben poep te indentificeren. Willen jullie mij helpen met nog een opdracht?</span>
</div>