<div class="tekstballon tak" ng-click="click()" ng-show="!clickDone">
  <span>{{messages[2][1][clicked]}}</span>
</div>

<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Welken insecten zitten er op de taksi takken?</h3>
    <ul>
      <li ng-click="check()"
          on-long-press="info()"
          ng-class="class"
          ng-repeat="i in detaksi"
          style="background-image: url(/images/opdrachten/tak/detaksi/{{i.name}}.jpg)">
        <span>
          <h1>{{i.name | capitalize}}</h1>
          <p>{{i.fact}}</p>
        </span>
      </li>
    </ul>
    <button ng-show="checkDone" ng-click="opdrachtDone = true">Verder</button>
    <button ng-click="opdrachtDone = true">Verder</button>
</div>

<div class="tekstballon tak" ng-show="opdrachtDone" ng-click="opdrachtAf()">
  <span>Goed gedaan! Gooi de taksi-takken maar terug in de Maas. Gooi zo ver als je kan. Zo kan de taksi weer verder!</span>
</div>