<div class="tekstballon tak" ng-click="click()" ng-show="!clickDone">
  <span>{{messages[3][1][clicked]}}</span>
</div>

<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Kun jij taksi-takken vinden? Zo ja, welke insecten zitten er op de taksi?'</h3>
    <ul>
      <li ng-click="check()"
          on-long-press="info()"
          ng-class="class"
          ng-repeat="i in demooistetak"
          style="background-image: url(/images/opdrachten/tak/detaksi/{{i.name}}.jpg)">
        <span>
          <h1>{{i.name | capitalize}}</h1>
          <p>{{i.fact}}</p>
        </span>
      </li>
    </ul>
    <button ng-show="checkDone" ng-click="opdrachtDone = true">Verder</button>
</div>

<div class="tekstballon tak" ng-show="opdrachtDone" ng-click="opdrachtAf()">
  <span>Dat is een wijze beslissing!</span>
</div>