<div class="tekstballon tak" ng-click="click()" ng-show="!clickDone">
  <span>{{messages[2][1][clicked]}}</span>
</div>

<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Wat doe je? Neem je de tak mee of laat je hem liggen?</h3>
    <form class="radio">
      <label ng-repeat="i in demooistetak">
        <input type="radio" name="takmeenemen" ng-model="takmeenemen.value">
          {{i.option}}
      </label>
    </form>
    <button ng-click="opdrachtDone = true">Verder</button>
</div>

<div class="tekstballon tak" ng-show="opdrachtDone" ng-click="opdrachtAf()">
  <span>Goed gedaan! Gooi de taksi-takken maar terug in de Maas. Gooi zo ver als je kan. Zo kan de taksi weer verder!</span>
</div>