<div class="tekstballon worm" ng-click="click()" ng-show="!clickDone">
  <span>{{messages[1][1][clicked]}}</span>
</div>

<div class="keuze image full animated bounceInRight" ng-show="clickDone && !opdrachtDone">
  <h3>Welke stenen hebben jullie gevonden?</h3>
    <ul>
      <li ng-click="check()"
          ng-class="class"
          ng-repeat="i in stenenspeurtocht"
          style="background-image: url(/images/opdrachten/worm/stenenspeurtocht/{{i.name}}.jpg)">
        <p>{{i.name | capitalize}}</p>
      </li>
    </ul>
    <button ng-click="opdrachtDone = true">Verder</button>
</div>

<div class="tekstballon worm" ng-show="opdrachtDone" ui-sref="home">
  <span>Leuk dat jullie mij geholpen hebben met stenen te vinden. Willen jullie mij helpen met nog een opdracht?</span>
</div>